<div style="background-color:#ffffff; color: #000000; margin:20px; padding:20px;border:10px black; border-radius: 10px ;opacity:0.7 ;"
     xmlns="http://www.w3.org/1999/html">
  <p class="text-justify">
    <%= image_tag('om_oss.png', size:'230x150') %>
    <p>
      Grundarna bakom denna sida heter Daniel och Andreas. Vi är två studenter som pluggar Webbutveckling
      på BTH i Karlshamn. Just nu är vi inne på vårat andra år av en treårig utbildning. Men Idén till detta
      projekt växte fram redan för ett år sedan då vi påbörjade en liknande hemsida. Vi ville skapa en spelblogg/wiki
      som skulle ge användare tillgång till mycket samlad information som inte fanns någon annanstans. Allt ifrån
      taktik på en boss till rekommenderade vapen eller helt enkelt omdömet för ett spel. <br><br>

      Det här är en början till denna spelblogg/wiki som vi har skapat i Ruby on Rails.
    </p>
  </p>
  <hr>
  <p class="text-justify">
    <div class="row">
      <div class="small-6 large-4 column">
        <h3><em>Andreas Alm</em></h3>
            <%= image_tag('andreas.jpg', size:'130x60') %>
      </div>
        <h3><em>Daniel Nilsson</em></h3>
            <%= image_tag('daniel.jpg', size:'130x50') %>

      </div>
  </p>
</div>
